body {
    font: 12px Arial;
}

.candle {
    stroke: black;
    stroke-width: 1;
 }

.bullish {
    fill: green;
}

.bearish {
    fill: red;
}

svg {
    border: 1px solid #DDD;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.day {
    fill: grey;
}

.day path {
    stroke: none;

}

.crosshair {
    stroke: grey;
    stroke-width: 1px;
    stroke-dasharray: 5,3;
    shape-rendering: crispEdges;
}